---
import { db } from "../../lib/server/db";
import { recipeTable } from "../../lib/server/db/schema";
import Layout from "../../layouts/Layout.astro";

const recipes = await db
    .select({
        id: recipeTable.id,
        image: recipeTable.image,
        title: recipeTable.title,
    })
    .from(recipeTable);
---

<Layout title="recipes">
    <h1 class="text-4xl font-bold mb-8">All Recipes</h1>

    <div class="flex gap-4">
        {
            recipes.map((recipe) => (
                <a
                    href={`recipes/${recipe.id}`}
                    class="card w-72 bg-base-100 shadow-xl card-bordered border-neutral card-compact"
                >
                    <figure>
                        <img
                            src={recipe.image}
                            alt={recipe.title}
                            class="aspect-[4/3]"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{recipe.title}</h2>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>
