---
import { Icon } from "astro-icon/components";
interface Props {
	user: User;
}

const { user } = Astro.props;
---

<div
    class="flex px-8 py-4 justify-between items-center bg-neutral/90 border-2 fixed top-0 w-full"
>
    <a href="/"><Icon name="mdi:cook" size={25} class="h-full aspect-square"/></a>

    <nav class="flex gap-2">
        <a href="/recipes">recipies</a>
        <a href="/recipes/create">create</a>
    </nav>

    {
        (!user) ? (
            <a
                class="flex gap-2 items-center bg-primary btn-primary  px-4 py-2 rounded-btn"
                href="/auth/signin"
            >
                Login
                <Icon name="tabler:arrow-right"/>
            </a>
        ) : (
            <div class="avatar m-0">
                <div class="h-8 aspect-square rounded-full">
                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
        )
    }
</div>
